<div class="chat-container">
    <!-- Sidebar (List of Users) -->
    <div class="sidebar-chat">

        <div class="header-section">
                    
          <div class="user-profile">
            <img [src]="url_user_photo" alt="Profile Picture" class="user-photo" />
          </div>
          {{self_name}}
          
          <div class="header-icons">
            <span class="icon-sidebar" (click)="openSettings()">
              <i class="fas fa-cog"></i>
            </span>
      
            <span class="icon-sidebar" (click)="openMail()">
              <i class="fas fa-envelope"></i>
            </span>
          
            <span class="icon-sidebar" (click)="logout()">
              <i class="fas fa-sign-out-alt"></i>
            </span>
          </div>
        </div>
      
        
        <div class="search-section">
          <div class="input-group">
            <div class="input-group-prepend">
              <span class="input-group-text icon-search">
                <i class="fas fa-search"></i>
              </span>
            </div>
            <input type="text" class="form-control text-search" placeholder="Search users...">
          </div>
        </div>
      
        
        <div class="user-list-section">
            <div *ngFor="let user of sidebarLatestMessages" (click)="userListSelected(user)" class="user-container d-flex justify-content-between align-items-center">
                <div class="user-profile" style="width: 40px;">
                    <img [src]="user.photoUrl" alt="Profile Picture" class="user-photo img-fluid rounded-circle" />
                </div>
                <div class="user-info flex-grow-1">
                    <div class="d-flex justify-content-between">
                      <div class="user-name">{{ user.name }}</div>
                      
                      <div class="timestamp marginLeft20">{{ user.date_time_string }}</div>
                    </div>
                    
                    <div class="user-message">{{ user.latestMessage }}</div>
                </div>
                <!-- <div class="user-details" style="width: 20px;"> 
                    <div class="latest-time text-right">{{ user.latestTime }}</div>
                    <div class="is-read text-right">{{ user.isRead ? 'Read' : 'Unread' }}</div>
                </div> -->
            </div>
        </div>


    </div>
  
    <!-- Chat Box -->
    <div class="chat-box">
      <ng-container *ngIf="dialogUser.userid !== null">
        <div class="header-dialog-user">
      
          
          <div class="user-profile">
              <img [src]="dialogUser.photoUrl" alt="Profile Picture" class="user-photo" />
          </div>

          <div class="user-info" >
            <h3>{{dialogUser.name}}</h3>
          </div>
          
        </div>
        
        <div class="dialog-box" #dialogBox (scroll)="onScroll($event)">
          <div [ngClass]="{'dialog':true, 'marginLast':message.is_last }" *ngFor="let message of dialogMessages">
            <div class="message-wrapper">
              
              <!-- kanan -->
              <ng-container *ngIf="message.group_ally">
                <div  [ngClass]="{'message-bubble-right':true, 'flat-top-right':!message.is_first, 'flat-bottom-right':!message.is_last }" >
                  <div class="d-flex justify-content-between">
                    <div class="timestamp">{{ message.date_time_string }}</div>
                    <div class="user marginLeft20">{{ message.sender_name_used }}</div>
                  </div>
                  <span>{{ message.message }}</span>
                </div>
              </ng-container>

              <!-- kiri -->
              <ng-container *ngIf="!message.group_ally">
                <div  [ngClass]="{'message-bubble-left':true, 'flat-top-left':!message.is_first, 'flat-bottom-left':!message.is_last }" >
                  <div class="d-flex justify-content-between">
                    <div class="user">{{ message.sender_name_used }}</div>
                    <div class="timestamp marginLeft20">{{ message.date_time_string }}</div>
                  </div>
                  <span>{{ message.message }}</span>
                </div>
              </ng-container>

            </div>
          </div>
        </div>
    
      
        <div class="input-box">
          <div class="row">
            <div class="col-10">
              <input class="form-control" [(ngModel)]="newMessage" placeholder="Type your message..." />
            </div>
            <div class="col-2 d-grid gap-2">
              <button  type="button" class="btn send-color btn-block" (click)="sendMessage()">Send</button>
            </div>
          </div>
        </div>
      </ng-container>
    </div>
  </div>