<div class="chat-container">
    <!-- Sidebar (List of Users) -->
    <div class="sidebar-chat">

        <div class="header-section">
                    
          <div class="user-profile">
            <img [src]="url_user_photo" alt="Profile Picture" class="user-photo" />
          </div>
          {{self_name}}
          
          <div class="header-icons">
            <span class="icon-sidebar" (click)="openSettings()">
              <i class="fas fa-cog"></i>
            </span>
      
            <span class="icon-sidebar" (click)="openMail()">
              <i class="fas fa-envelope"></i>
            </span>
          
            <span class="icon-sidebar" (click)="logout()">
              <i class="fas fa-sign-out-alt"></i>
            </span>
          </div>
        </div>
      
        
        <div class="search-section">
          <div class="input-group">
            <div class="input-group-prepend">
              <span class="input-group-text icon-search">
                <i class="fas fa-search"></i>
              </span>
            </div>
            <input type="text" class="form-control text-search" placeholder="Search users...">
          </div>
        </div>
      
        
        <div class="user-list-section">
            <div *ngFor="let user of sidebarLatestMessages" (click)="userListSelected(user)" class="user-container d-flex justify-content-between align-items-center">
                <div class="user-profile" style="width: 40px;">
                    <img [src]="user.photoUrl" alt="Profile Picture" class="user-photo img-fluid rounded-circle" />
                </div>
                <div class="user-info flex-grow-1">
                    <div class="d-flex justify-content-between">
                      <div class="user-name">{{ user.name }}</div>
                      
                      <div class="timestamp marginLeft20">{{ user.date_time_string }}</div>
                    </div>
                    
                    <div class="user-message">{{ user.latestMessage }}</div>
                </div>
                <!-- <div class="user-details" style="width: 20px;"> 
                    <div class="latest-time text-right">{{ user.latestTime }}</div>
                    <div class="is-read text-right">{{ user.isRead ? 'Read' : 'Unread' }}</div>
                </div> -->
            </div>
        </div>


    </div>
  
    <!-- Chat Box -->
    <div class="chat-box">
      <ng-container *ngIf="dialogUser.userid !== null">
        <div class="header-dialog-user">
      
          
          <div class="user-profile">
              <img [src]="dialogUser.photoUrl" alt="Profile Picture" class="user-photo" />
          </div>

          <div class="user-info" >
            <h3>{{dialogUser.name}}</h3>
          </div>
          
        </div>
        
        <!-- Start --- tampilan kondisi normal, tidak sedang preview attach file -->
        <!-- <ng-container *ngIf="this.selectedFile.name == ''"> -->
          <div [ngClass]="{'dialog-box':this.selectedFile.name == '' ,
                           'dialog-box-preview-image':this.selectedFile.name != '' &&  selectedFile_isPicture ,
                           'dialog-box-preview-file': this.selectedFile.name != '' && !selectedFile_isPicture 
                          }" #dialogBox (scroll)="onScroll($event)">
            <div [ngClass]="{'dialog':true, 'marginLast':message.is_last }" *ngFor="let message of dialogMessages">

              <!-- kanan -->
              <ng-container *ngIf="message.group_ally">
                <div class="message-wrapper" *ngIf="message.attachment_url != '' && message.is_picture ">
                  <div [ngClass]="{'message-bubble-right':true, 'flat-bottom-right':true, 'flat-top-right':!message.is_first}">
                    <div class="container-bubble-attachment-picture" >
                      <img [src]="message.attachment_url" class="preview-image" alt="Preview">
                    </div>
                  </div>
                </div>

                <div class="message-wrapper" *ngIf="message.attachment_url != '' && !message.is_picture ">
                  <div [ngClass]="{'message-bubble-right':true, 'flat-bottom-right':true, 'flat-top-right':!message.is_first}">
                    Download : 
                    <a href="{{message.attachment_url}}" target="_blank" class="btn btn-primary">
                      <i class="fas fa-paperclip"></i> {{message.file_name}}
                    </a>
                  </div>
                </div>
                
                <div class="message-wrapper">
                  <div  [ngClass]="{'message-bubble-right':true, 'flat-top-right':!message.is_first || message.attachment_url != '', 'flat-bottom-right':!message.is_last }" >
                    <div class="d-flex justify-content-between">
                      <div class="timestamp">{{ message.date_time_string }}</div>
                      <div class="user marginLeft20">{{ message.sender_name_used }}</div>
                    </div>
                    <span>{{ message.message }}</span>
                  </div>
                </div>
              </ng-container>

                <!-- kiri -->
              <ng-container *ngIf="!message.group_ally">
                <div class="message-wrapper" *ngIf="message.attachment_url != '' && message.is_picture ">
                  <div [ngClass]="{'message-bubble-left':true, 'flat-bottom-left':true, 'flat-top-left':!message.is_first}">
                    <div class="container-bubble-attachment-picture" >
                      <img [src]="message.attachment_url" class="preview-image" alt="Preview">
                    </div>
                  </div>
                </div>

                <div class="message-wrapper" *ngIf="message.attachment_url != '' && !message.is_picture ">
                  <div [ngClass]="{'message-bubble-left':true, 'flat-bottom-left':true, 'flat-top-left':!message.is_first}">
                    Download : 
                    <a href="{{message.attachment_url}}" target="_blank" class="btn btn-primary">
                      <i class="fas fa-paperclip"></i> {{message.file_name}}
                    </a>
                  </div>
                </div>

                <div class="message-wrapper">
                  <div  [ngClass]="{'message-bubble-left':true, 'flat-top-left':!message.is_first || message.attachment_url != '', 'flat-bottom-left':!message.is_last }" >
                    <div class="d-flex justify-content-between">
                      <div class="user">{{ message.sender_name_used }}</div>
                      <div class="timestamp marginLeft20">{{ message.date_time_string }}</div>
                    </div>
                    <span>{{ message.message }}</span>
                  </div>
                </div>
              </ng-container>

            </div>
          </div>
        <!-- </ng-container> -->
        <!-- End =============== tampilan kondisi normal, tidak sedang preview attach file ===============--->

        <!-- Start =============== tampilan kondisi tidak normal, sedang preview image attachment ===============--->
        <ng-container *ngIf="this.selectedFile.name != '' && selectedFile_isPicture">
          <div class="render-box-image">
            <!-- Start text and close btn -->
            <div class="row align-items-center">
              <div class="col-1"></div>
              <div class="col-5">
                <h4  class="preview-text">Preview Attachment</h4>
              </div>
              <div class="col-5 text-end">
                <h4><i (click)="closePreviewImage()" class="fa fa-times close-icon"></i></h4>
              </div>
              <div class="col-1"></div>
            </div>
            <!-- end text and close btn -->
            
            <!-- start --- image preview container -->
            <div class="container-attachment-image">
                <img [src]="renderPreview" class="preview-image" alt="Preview">
            </div>
            <!-- end --- image preview container -->
          </div>
        </ng-container>
        <!-- End =============== tampilan kondisi tidak normal, sedang preview image attachment ===============--->

        <!-- Start =============== tampilan kondisi tidak normal, sedang preview file attachment ===============--->
        <ng-container *ngIf="this.selectedFile.name != '' && !selectedFile_isPicture">
          <div class="render-box-file">
            <!-- Start text and close btn -->
            <div class="row align-items-center">
              <div class="col-1"></div>
              <div class="col-5">
                <h4  class="preview-text">Attachment File</h4>
              </div>
              <div class="col-5 text-end">
                <h4><i (click)="closePreviewImage()" class="fa fa-times close-icon"></i></h4>
              </div>
              <div class="col-1"></div>
            </div>
            <!-- end text and close btn -->
            
            <!-- start --- image preview container -->
            <div class="row">
              <div class="col-1"></div>
              <div class="col-10"><h3><i class="fas fa-file"></i>&nbsp;&nbsp;{{this.selectedFile.name}}</h3></div>
              <div class="col-1"></div>
            </div>
            <!-- end --- image preview container -->
          </div>
        </ng-container>
        <!-- End =============== tampilan kondisi tidak normal, sedang preview file attachment ===============--->

        <!-- START =============== tampilan untuk button input dan enter chat -->
        <div class="input-box">
          <div class="input-container">
            <input type="file" #fileInput style="display: none" (change)="onFileSelected($event); fileInput.value = ''" />

            <div class="input-group">
              <div class="input-group-prepend">
                <span class="input-group-text icon-search" (click)="fileInput.click()">
                  <i class="fas fa-paperclip"></i>
                </span>
              </div>
              <input class="form-control text-box-left" [(ngModel)]="newMessage" placeholder="Type your message..." />
            </div>

            <button type="button" class="btn send-color" (click)="sendMessage()">Send</button>
          </div>
        </div>
        <!-- END =============== tampilan untuk button input dan enter chat -->

      </ng-container>
    </div>
  </div>