 /* Add styles to adjust height, padding, and appearance */
//  * {
//     margin: 0;
//     padding: 0;
//     box-sizing: border-box;
//   }
  
//   // Optionally, apply specific styles to commonly used elements
//   body, html {
//     height: 100%;
//     margin: 0;
//   }
.chat-container {
  display: flex;
  justify-content: space-between;
  padding: 0px;
  overflow-x: hidden; /* Disable horizontal scrolling */
  overflow-y: hidden; /* Disable horizontal scrolling */
  background-color:rgb(34, 33, 33);
  // background-image: linear-gradient(to bottom right, #1ECBCA,  #1c8bb7);
  background-color: #eaeaea;
  background-image: url('/assets/images/bunga-web.jpg');
  background-repeat: repeat;
}

  .header-section {
    height: 60px;
    padding: 10px;
    display: flex;
    justify-content:space-between;
    align-items: center;
  }
  
  .header-dialog-user {
    height: 60px;
    padding: 10px;
    padding-left: 30px;
    display: flex;
    align-items: center;
    background-color: #ffffff;
  }

  .header-dialog-user-mobile {
    height: 60px;
    padding: 10px;
    padding-left: 30px;
    display: flex;
    align-items: center;
    background-image: linear-gradient(to bottom right, #1ECBCA, #17C7C4, #18AEBA, #17B4B9);
  }

  .sidebar-chat {
    width: 300px;
    background-color:#003d7d;
    background-color:#151414;
    background-image: linear-gradient(to bottom right, #1ECBCA,  #1c8bb7);
    color:bisque;
    color:#888;
    color:#f0f0f0;
  }

  .sidebar-chat-mobile {
    width: 100%;
    background-color:#003d7d;
    background-color:#151414;
    background-image: linear-gradient(to bottom right, #1ECBCA,  #1c8bb7);
    color:bisque;
    color:#888;
    color:#f0f0f0;
  }

  .user-list-section{
    overflow-y:auto;
    overflow-x:hidden;
    height: calc(100vh - 100px); /* Adjust the max-height as needed */
  }

  .user-list-section-mobile{
    padding-top: 20px;
    overflow-y:auto;
    overflow-x:hidden;
    height: calc(100vh - 100px); /* Adjust the max-height as needed */
  }

  .user-container{
    padding: 5px 10px;
   
  }
  
  .user-container:hover {
    background-color:#094b91;
    background-color:#423f3f;
    background-color:#5DD8D3;
    background-color:#5587be;
    background-color:#5DD8D3;
    color:#2d2d2d;
  }

  .user-profile{
    margin-left: 0px;
    
  }

  .user-info{
    margin-left: 10px;
  }

  .user-photo {
    width: 40px;
    height: 40px;
    border-radius: 50%; /* Make it circular */
    overflow: hidden; /* Ensure it stays circular */
    /* Add more user photo styles if needed */
  }
  
  .user-details {
  
  }

  .header-icons {
    display: flex;
    gap: 10px;
  }

  .icon-sidebar{
    font-size:1.4em;
  }
  
  
  
  .input-group {
    position: relative;
    padding: 0px 10px;
    height: 40px;
    .icon-search {
      // background-color: transparent;
      // border: none;
      border-top-right-radius: 0px;
      border-bottom-right-radius: 0px;
      background-color:#423f3f;
      background-color:#eaeaea;
      height: 100%;
      display: flex;
      align-items: center;
    }

    .form-control {
      padding-left: 2rem; // Adjust as needed for the icon spacing
    }

    .icon-search i {
      font-size: 1rem; // Adjust icon size as needed
    }
  }
  
  /* Add more styles as needed */
  
 
  

  
  .chat-box {
    flex-grow: 2;
    margin-left: 0px;
    display: flex;
    flex-direction: column;
    height: 100vh;
    width: calc(100vw - 300px);
  }

  .chat-box-mobile {
    flex-grow: 2;
    margin-left: 0px;
    display: flex;
    flex-direction: column;
    height: 100vh;
    width: 100%;
  }
  
  .render-box-image {
    margin-left: 20px;
    height: calc(100vh - 119px); /* Adjust the max-height as needed */
    overflow-y:hidden;
    overflow-x:hidden;
    padding: 10px;
  }
  
  .render-box-file {
    margin-left: 20px;
    height: 100px; /* Adjust the max-height as needed */
    overflow-y:hidden;
    overflow-x:hidden;
    padding: 10px;
  }

  .dialog-box {
    margin-left: 20px;
    height: calc(100vh - 110px); /* Adjust the max-height as needed */
    overflow-y: auto;
    padding: 10px;
  }

  .dialog-box-preview-image {
    margin-left: 20px;
    height: 1px;
    overflow-y: auto;
    padding: 10px;
  }

  .dialog-box-preview-file {
    margin-left: 20px;
    height: calc(100vh - 220px);
    overflow-y: auto;
    padding: 10px;
  }
  
  .dialog {
    margin-bottom: 0px;
    overflow-x: hidden; /* Disable horizontal scrolling */
  }
  
  .marginLast {
    margin-bottom: 10px;
  }

  .message-wrapper {
    display: flex;
    margin-bottom: 2px;
  }

  .message-bubble-right {
    background-color: #f1f0f0;
    background-color: #5a5a5a;
    background-color:#151414;
    background-color:#ffffff;
    border-radius: 15px;
    padding: 10px 15px;
    max-width: 60%;
    word-wrap: break-word; /* Wrap long words */
    margin-left: auto; /* Push the bubble to the right */
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1), 0 0 0 3px rgba(255, 255, 255, 0.1) inset;
  }

  .message-bubble-left {
    background-color: #f1f0f0;
    background-color: #5a5a5a;
    background-color:#151414;
    background-color:#ffffff;
    border-radius: 15px;
    padding: 10px 15px;
    max-width: 70%;
    word-wrap: break-word; /* Wrap long words */
    margin-right: auto; /* Push the bubble to the left */
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1), 0 0 0 3px rgba(255, 255, 255, 0.1) inset;
  }

  .bubble-mobile{
    max-width: 90%;
  }

  .flat-top-left{
    border-top-left-radius: 0px;
  }

  .flat-top-right{
    border-top-right-radius: 0px;
  }

  .flat-bottom-left{
    border-bottom-left-radius: 0px;
  }

  .flat-bottom-right{
    border-bottom-right-radius: 0px;
  }


 

  .message-info {
    margin: 0px 10px;
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
  }
  .user {
    font-weight: bold;
    // margin-right: 5px;
  }

  .timestamp {
    font-size: 12px;
    color: #888;
  }

  .timestamp-white{
    font-size: 12px;
    
  }
  
  .marginLeft20{
    margin-left: 20px;
  }

  .input-box {
    // display: flex;
    // justify-content: space-between;
    // align-items: center;
    // margin-left: 0px;
    padding: 5px 10px 5px 10px; /* Add padding if needed */
    background-color: #f0f0f0; /* Add background color if needed */
    background-color: #423f3f; /* Add background color if needed */
    background-color: #ffffff; /* Add background color if needed */
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1), 0 0 0 3px rgba(255, 255, 255, 0.1) inset;
  }
  
  .input-box-mobile {
    // display: flex;
    // justify-content: space-between;
    // align-items: center;
    // margin-left: 0px;
    padding: 5px 10px 5px 10px; /* Add padding if needed */
    background-color: #f0f0f0; /* Add background color if needed */
    background-color: #423f3f; /* Add background color if needed */
    background-color: #ffffff; /* Add background color if needed */
    background-image: linear-gradient(to bottom right, #1ECBCA, #17C7C4, #18AEBA, #17B4B9);
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1), 0 0 0 3px rgba(255, 255, 255, 0.1) inset;
  }
  // input {
  //   flex-grow: 1;
  //   padding: 5px;
  //   margin-right: 10px;
  // }
  
  .input-chat{
    // padding: 5px;
    // // width: auto;
    // margin-right: 10px;
  }

  button {
    // padding: 5px;
    // margin-left: 10px;
    // padding: 5px 10px;
  }
  
  input{
    background-color:#151414;
    background-color:#ffffff;
  }

  .send-color{
    background-color:#151414;
    background-color:#ffffff;
    border-color: #adadad;
    width: auto; /* Allow button to adjust width based on content */
  }


  .input-container {
    display: flex;
  }
  
  .text-box-left {
    flex: 1; /* Take remaining space */
    margin-right: 5px; /* Add spacing between input and button */
  }
  

  .attach-color {
    border-top-right-radius: 0px;
    border-bottom-right-radius: 0px;
    background-color:#151414;
    width: auto; /* Allow button to adjust width based on content */
  }

  .container-attachment-image {
    width: 100%; /* Set the width of the container */
    height: calc(100% - 40px); /* Set the fixed height of the container */
    overflow: hidden; /* Hide any overflow from the image */
  }
  
  .preview-image {
    width: 100%; /* Make the image fill the container horizontally */
    height: 100%; /* Allow the image to adjust its height proportionally */
    object-fit: contain; /* Scale the image to fit within the container without stretching */
  }

  .bacground-color-linear{
    
    background: linear-gradient(to bottom right, #1ECBCA, #17C7C4, #18AEBA, #17B4B9);
  }

  .icon-back{
    padding-right: 20px;
  }

  .svg-container{
    pointer-events: none;
  }

  .container-sidebar-customercare{
    background-image: url('/assets/images/bunga-web.jpg');
    background-repeat: repeat;
    color:#003d7d;
    font-size:1.4em;
    margin: 25px;
    padding: 25px;
    font-weight: bold;
    border-top-left-radius: 15px;
    border-top-right-radius: 15px;
    margin-bottom: 0px;
  }

  .btn-sidebar-customercare{
    background: linear-gradient(to bottom right, #917CFF, #7563D5);
    margin: 25px;
    padding: 10px;
    border-bottom-left-radius: 15px;
    border-bottom-right-radius: 15px;
    margin-top: 0px;
  }